{% extends 'base.html' %}{% block content %}

<hr />
<div class="contenedor">
  <div class="card">
    <div class="card-header">
      <a
        name=""
        id=""
        class="btn btn-success text-white"
        style="font-size: medium; font-weight: bold"
        href="{% url 'crear_usuario' %}"
        role="button"
      >
        Agregar nuevo usuario
      </a>
    </div>
    <div class="card-body">
      <h4 class="card-title">Usuarios</h4>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre completo</th>
            <th>Email</th>
            <th>Password</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
          <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.full_name }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.password }}</td>
            <td>
              <a
                name=""
                id=""
                class="btn btn-info"
                style="font-size: medium; font-weight: bold"
                href="{% url 'editar_usuario' usuario.id %}"
                role="button"
              >
                Editar
              </a>

              <a
                name=""
                id=""
                class="btn btn-danger"
                style="font-size: medium; font-weight: bold"
                href="{% url 'eliminar_usuario' usuario.id %}"
                role="button"
              >
                Borrar
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
</div>
{% endblock %}
