{% extends 'base.html' %} {% block titulo%} Inicio {% endblock %} {% block content %}

<hr />
<div class="contenedor">
  <div class="row align-items-md-stretch">
    <div class="">
      <div
        class="p-5 text-white bg-dark border rounded-3">
        <h2>Bienvenido</h2>
        <p>Una pagina diseñada para el area de inventario y manejo de detalles, usando los conocimientos de clase en base a Python, Django, entorno virtual, entre otros.
          ¡Gracias por hacerlo posible♥!</p>
          <p>Alumno: Cancino Gonzales Jeanpier Eduardo</p>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}
